/*Layout*/

* {
  box-sizing: border-box;
  line-height: 1.5em;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  align-self: center;
  margin: 1em 0 1em 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 4em 1em 4em;
}

img {
  width: 25%;
  height: 25%;
  margin: 1em;
}
